# <center>Student Grade Prediction</center>
#### <center>by Sushant Deshpande</center>

In [43]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
grades = pd.read_csv("data/grades.csv")
grades.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

Let's find out how many null values are present in out dataset

In [3]:
grades.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

Let's fid out what are the datatypes of each column

In [4]:
grades.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

Now first, let's make a copy of the original dataset and call it <code>grades_working</code>

In [5]:
grades_working = grades.copy()

In [6]:
grades_working["schoolsup"].head()

0    yes
1     no
2    yes
3     no
4     no
Name: schoolsup, dtype: object

In [7]:
grades_working["schoolsup"] = grades_working["schoolsup"].map({'yes': 1, 'no': 0})
grades_working["famsup"] = grades_working["famsup"].map({'yes': 1, 'no': 0})
grades_working["paid"] = grades_working["paid"].map({'yes': 1, 'no': 0})
grades_working["activities"] = grades_working["activities"].map({'yes': 1, 'no': 0})
grades_working["nursery"] = grades_working["nursery"].map({'yes': 1, 'no': 0})
grades_working["higher"] = grades_working["higher"].map({'yes': 1, 'no': 0})
grades_working["internet"] = grades_working["internet"].map({'yes': 1, 'no': 0})
grades_working["romantic"] = grades_working["romantic"].map({'yes': 1, 'no': 0})

In [8]:
grades_working.count()

school        395
sex           395
age           395
address       395
famsize       395
Pstatus       395
Medu          395
Fedu          395
Mjob          395
Fjob          395
reason        395
guardian      395
traveltime    395
studytime     395
failures      395
schoolsup     395
famsup        395
paid          395
activities    395
nursery       395
higher        395
internet      395
romantic      395
famrel        395
freetime      395
goout         395
Dalc          395
Walc          395
health        395
absences      395
G1            395
G2            395
G3            395
dtype: int64

<hr>

#### BEGIN TESTING

In [9]:
#Testing
grades_dummies = pd.get_dummies(grades_working["sex"])
grades_dummies.head()

   F  M
0  1  0
1  1  0
2  1  0
3  1  0
4  1  0

In [10]:
grades_dummies.count()

F    395
M    395
dtype: int64

In [11]:
empty_df = pd.DataFrame(columns=[])
empty_df

Empty DataFrame
Columns: []
Index: []

In [12]:
empty_df_test = pd.DataFrame(columns=[])
empty_df_test

Empty DataFrame
Columns: []
Index: []

In [13]:
test_df = pd.concat([empty_df_test, grades_working["sex"], grades_working["age"], grades_working["school"]], axis=1)
test_df.head()

  sex  age school
0   F   18     GP
1   F   17     GP
2   F   15     GP
3   F   15     GP
4   F   16     GP

In [14]:
for i in test_df:
    if (test_df.dtypes[i] == "object"):
        temp_df = pd.get_dummies(grades_working[i])
        #grades_dummies = grades_working.drop(columns=[i])
        empty_df = pd.concat([empty_df, temp_df], axis=1)

empty_df.count()

F     395
M     395
GP    395
MS    395
dtype: int64

In [15]:
empty_df.head()

   F  M  GP  MS
0  1  0   1   0
1  1  0   1   0
2  1  0   1   0
3  1  0   1   0
4  1  0   1   0

#### END TESTING
<hr>

In [16]:
empty_df_blank = pd.DataFrame(columns=[])

In [17]:
for i in grades_working:
    if (grades_working.dtypes[i] == "object"):
        temp_df = pd.get_dummies(grades_working[i])
        #grades_non_dummies = grades_working.drop(i, axis=1)
        empty_df_blank = pd.concat([empty_df_blank, temp_df], axis=1)

empty_df_blank.head()

,GP,MS,F,M,R,U,GT3,LE3,A,T,...,other,services,teacher,course,home,other,reputation,father,mother,other
0,1,0,1,0,0,1,1,0,1,0,...,0,0,1,1,0,0,0,0,1,0
1,1,0,1,0,0,1,1,0,0,1,...,1,0,0,1,0,0,0,1,0,0
2,1,0,1,0,0,1,0,1,0,1,...,1,0,0,0,0,1,0,0,1,0
3,1,0,1,0,0,1,1,0,0,1,...,0,1,0,0,1,0,0,0,1,0
4,1,0,1,0,0,1,1,0,0,1,...,1,0,0,0,1,0,0,1,0,0

In [18]:
empty_df_blank.dtypes

GP            uint8
MS            uint8
F             uint8
M             uint8
R             uint8
U             uint8
GT3           uint8
LE3           uint8
A             uint8
T             uint8
at_home       uint8
health        uint8
other         uint8
services      uint8
teacher       uint8
at_home       uint8
health        uint8
other         uint8
services      uint8
teacher       uint8
course        uint8
home          uint8
other         uint8
reputation    uint8
father        uint8
mother        uint8
other         uint8
dtype: object

In [19]:
for i in grades_working:
    if (grades_working.dtypes[i] == "object"):
        #temp_df = pd.get_dummies(grades_working[i])
        grades_working = grades_working.drop(i, axis=1)
        #empty_df_blank = pd.concat([empty_df_blank, temp_df], axis=1)

grades_working.head()

,age,Medu,Fedu,traveltime,studytime,failures,schoolsup,famsup,paid,activities,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,18,4,4,2,2,0,1,0,0,0,...,4,3,4,1,1,3,6,5,6,6
1,17,1,1,1,2,0,0,1,0,0,...,5,3,3,1,1,3,4,5,5,6
2,15,1,1,1,2,3,1,0,1,0,...,4,3,2,2,3,3,10,7,8,10
3,15,4,2,1,3,0,0,1,1,1,...,3,2,2,1,1,5,2,15,14,15
4,16,3,3,1,2,0,0,1,1,0,...,4,3,2,1,2,5,4,6,10,10

In [20]:
grades_final = pd.concat([grades_working, empty_df_blank], axis=1)
grades_final.head()

,age,Medu,Fedu,traveltime,studytime,failures,schoolsup,famsup,paid,activities,...,other,services,teacher,course,home,other,reputation,father,mother,other
0,18,4,4,2,2,0,1,0,0,0,...,0,0,1,1,0,0,0,0,1,0
1,17,1,1,1,2,0,0,1,0,0,...,1,0,0,1,0,0,0,1,0,0
2,15,1,1,1,2,3,1,0,1,0,...,1,0,0,0,0,1,0,0,1,0
3,15,4,2,1,3,0,0,1,1,1,...,0,1,0,0,1,0,0,0,1,0
4,16,3,3,1,2,0,0,1,1,0,...,1,0,0,0,1,0,0,1,0,0

In [21]:
grades_final.dtypes

age           int64
Medu          int64
Fedu          int64
traveltime    int64
studytime     int64
failures      int64
schoolsup     int64
famsup        int64
paid          int64
activities    int64
nursery       int64
higher        int64
internet      int64
romantic      int64
famrel        int64
freetime      int64
goout         int64
Dalc          int64
Walc          int64
health        int64
absences      int64
G1            int64
G2            int64
G3            int64
GP            uint8
MS            uint8
F             uint8
M             uint8
R             uint8
U             uint8
GT3           uint8
LE3           uint8
A             uint8
T             uint8
at_home       uint8
health        uint8
other         uint8
services      uint8
teacher       uint8
at_home       uint8
health        uint8
other         uint8
services      uint8
teacher       uint8
course        uint8
home          uint8
other         uint8
reputation    uint8
father        uint8
mother        uint8
other         uint8
dtype: object

import numpy as np
from pandas.api.types import is_numeric_dtype
from pandas.api.types import is_string_dtype

for i in grades_final.columns:
    if (is_numeric_dtype(grades_final[i])):
        print('a')

allc = list((grades_final.loc[:, grades_final.dtypes == np.int64]).columns)
for y in allc:
    print('int')

for y in grades_final.columns:
    if(grades_final[y].dtype == np.int64):
        print('a')

In [22]:
X = grades_final.drop('G3', axis=1)
y = grades_final['G3']

In [23]:
# Use train_test_split to create training and testing data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [34]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

X_minmax = MinMaxScaler().fit(X_train)

X_train_minmax = X_minmax.transform(X_train)
X_test_minmax = X_minmax.transform(X_test)



#apply SelectKBest class to extract top 10 best features
bestfeatures = SelectKBest(score_func=chi2, k='all')
fit = bestfeatures.fit(X_train_minmax,y_train)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
top_features = featureScores.nlargest(19,'Score')
print(top_features)  #print best features

         Specs      Score
5     failures  38.740947
21          G1  28.906988
33     at_home  25.496292
6    schoolsup  25.232126
13    romantic  19.134260
34      health  17.915130
8         paid  17.620926
45       other  17.563107
22          G2  17.325296
46  reputation  17.176953
36    services  16.768418
38     at_home  14.633767
31           A  13.079180
42     teacher  12.719343
27           R  11.166497
37     teacher  10.581299
24          MS  10.435549
26           M  10.100207
43      course  10.011794

/Users/sdeshpande/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype uint8, int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [25]:
# Create the model using LinearRegression
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [26]:
# Fit the model to the training data and calculate the score for the training data

model.fit(X_train_minmax, y_train)
training_score = model.score(X_train_minmax, y_train)

print(f"Training Score: {training_score}")

Training Score: 0.8622314115268453

In [27]:
# Calculate the score for the testing data

testing_score = model.score(X_test_minmax, y_test)
print(f"Testing Score: {testing_score}")

Testing Score: 0.7812293279464217

#### RandomForest

In [28]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.feature_selection import RFECV
from sklearn.ensemble import RandomForestClassifier

In [29]:
classifier = RandomForestClassifier(n_estimators=200)
classifier

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [30]:
classifier.fit(X_train_minmax, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [31]:
classifier_score = round(classifier.score(X_train_minmax, y_train)*100, 2)
base_model_score = round(classifier.score(X_test_minmax, y_test)*100, 2)

print(f'Train Data Score: {classifier_score}%')
print(f'Test Data Score: {base_model_score}%')

Train Data Score: 100.0%
Test Data Score: 40.4%

#### Model Tuining

In [32]:
# Create the RandomSearchCV model
tuned_model = RandomForestClassifier(random_state=42)

param_grid = {
    'n_estimators': [200, 600, 1200, 1400],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth': [14, 15, 16, 17, 18, None]
}
grid = GridSearchCV(tuned_model, param_grid, cv=5, verbose=3, n_jobs=-1)

# Train the model with GridSearch
_ = grid.fit(X_train, y_train)

Fitting 5 folds for each of 72 candidates, totalling 360 fits

/Users/sdeshpande/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:652: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    3.8s
/Users/sdeshpande/anaconda3/lib/python3.7/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
[Parallel(n_jobs=-1)]: Done 112 tasks      | elapsed:   18.0s
[Parallel(n_jobs=-1)]: Done 272 tasks      | elapsed:   41.8s
[Parallel(n_jobs=-1)]: Done 360 out of 360 | elapsed:   54.9s finished
/Users/sdeshpande/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [33]:
# Tuned parameters
max_features = grid.best_params_['max_features']
n_estimators = grid.best_params_['n_estimators']
max_depth = grid.best_params_['max_depth']
criterion = 'entropy'

# Tuned model
tuning_model = RandomForestClassifier(max_features=max_features, n_estimators=n_estimators, 
                                     criterion=criterion, max_depth=max_depth, random_state=42)
tuning_model.fit(X_train_minmax, y_train)

tuned_model_training_score = round(tuning_model.score(X_train_minmax, y_train)*100,3)
tuned_accuracy = round(tuning_model.score(X_test_minmax, y_test)*100,3)

print(f"Training Data Score: {tuned_model_training_score} %")
print(f"Testing Data Score: {tuned_accuracy} %")

Training Data Score: 100.0 %
Testing Data Score: 39.394 %

#### Selecting Best Features

In [35]:
feature_arrey = []
for i in top_features["Specs"]:
    feature_arrey.append(i)

In [37]:
feature_selected_df = grades_final.loc[:, feature_arrey]
feature_selected_df.head()

,failures,G1,at_home,at_home,schoolsup,romantic,health,health,health,paid,...,at_home,A,teacher,teacher,R,teacher,teacher,MS,M,course
0,0,5,1,0,1,0,3,0,0,0,...,0,1,0,1,0,0,1,0,0,1
1,0,5,1,0,0,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,3,7,1,0,1,0,3,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,15,0,0,0,1,5,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,6,0,0,0,0,5,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [40]:
X_feature = feature_selected_df.copy()
y_feature = grades_final['G3']

In [41]:
X_train_feature, X_test_feature, y_train_feature, y_test_feature = train_test_split(X_feature, y_feature, random_state=42)
X_train_feature.head()

,failures,G1,at_home,at_home,schoolsup,romantic,health,health,health,paid,...,at_home,A,teacher,teacher,R,teacher,teacher,MS,M,course
16,0,13,0,0,0,0,2,0,0,1,...,0,0,0,0,0,0,0,0,0,0
66,0,13,0,0,0,1,3,0,0,0,...,0,1,0,0,0,0,0,0,1,0
211,0,12,0,0,0,1,3,0,0,1,...,0,0,0,0,0,0,0,0,1,0
7,0,6,0,0,1,0,1,0,0,0,...,0,1,0,1,0,0,1,0,0,0
19,0,8,0,0,0,0,5,1,0,1,...,0,0,0,0,0,0,0,0,1,0

In [42]:
X_minmax_feature = MinMaxScaler().fit(X_train_feature)

X_train_minmax_feature = X_minmax_feature.transform(X_train_feature)
X_test_minmax_feature = X_minmax_feature.transform(X_test_feature)

/Users/sdeshpande/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype uint8, int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [44]:
classifier = RandomForestClassifier(n_estimators=200)
classifier

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [45]:
classifier.fit(X_train_minmax_feature, y_train_feature)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [46]:
classifier_score_feature = round(classifier.score(X_train_minmax_feature, y_train_feature)*100, 2)
base_model_score_feature = round(classifier.score(X_test_minmax_feature, y_test_feature)*100, 2)

print(f'Train Data Score: {classifier_score_feature}%')
print(f'Test Data Score: {base_model_score_feature}%')

Train Data Score: 99.66%
Test Data Score: 32.32%

#### Model Tuining