# <center>Student Grade Prediction</center>
#### <center>by Sushant Deshpande</center>

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
grades = pd.read_csv("data/grades.csv")
grades.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

<div class="alert alert-warning">
    <b>Attribute Information:</b>

Attributes for both student-mat.csv (Math course) and student-por.csv (Portuguese language course) datasets:
<ul><b>1 school</b> - student's school (binary: 'GP' - Gabriel Pereira or 'MS' - Mousinho da Silveira)</ul>
<ul><b>2 sex</b> - student's sex (binary: 'F' - female or 'M' - male)</ul>
<ul><b>3 age</b> - student's age (numeric: from 15 to 22)</ul>
<ul><b>4 address</b> - student's home address type (binary: 'U' - urban or 'R' - rural)</ul>
<ul><b>5 famsize</b> - family size (binary: 'LE3' - less or equal to 3 or 'GT3' - greater than 3)</ul>
<ul><b>6 Pstatus</b> - parent's cohabitation status (binary: 'T' - living together or 'A' - apart)</ul>
<ul><b>7 Medu</b> - mother's education (numeric: 0 - none, 1 - primary education (4th grade), 2 â€“ 5th to 9th grade, 3 â€“ secondary education or 4 â€“ higher education) UCI Machine Learning Repository: Student Performance Data Set https://archive.ics.uci.edu/ml/datasets/student+performance</ul>
<ul><b>8 Fedu</b> - father's education (numeric: 0 - none, 1 - primary education (4th grade), 2 â€“ 5th to 9th grade, 3 â€“ secondary education or 4 â€“ higher education)</ul>
<ul><b>9 Mjob</b> - mother's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')</ul>
<ul><b>10 Fjob</b> - father's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')</ul>
<ul><b>11 reason</b> - reason to choose this school (nominal: close to 'home', school 'reputation', 'course' preference or 'other')</ul>
<ul><b>12 guardian</b> - student's guardian (nominal: 'mother', 'father' or 'other')</ul>
<ul><b>13 traveltime</b> - home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour)</ul>
<ul><b>14 studytime</b> - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)</ul>
    <ul><div><b>15 failures</b> - number of past class failures (numeric: n if 1<=n<3, else 4)</div></ul>
<ul><b>16 schoolsup</b> - extra educational support (binary: yes or no)</ul>
<ul><b>17 famsup</b> - family educational support (binary: yes or no)</ul>
<ul><b>18 paid</b> - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)</ul>
<ul><b>19 activities</b> - extra-curricular activities (binary: yes or no)</ul>
<ul><b>20 nursery</b> - attended nursery school (binary: yes or no)</ul>
<ul><b>21 higher</b> - wants to take higher education (binary: yes or no)</ul>
<ul><b>22 internet</b> - Internet access at home (binary: yes or no)</ul>
<ul><b>23 romantic</b> - with a romantic relationship (binary: yes or no)</ul>
<ul><b>24 famrel</b> - quality of family relationships (numeric: from 1 - very bad to 5 - excellent)</ul>
<ul><b>25 freetime</b> - free time after school (numeric: from 1 - very low to 5 - very high)</ul>
<ul><b>26 goout</b> - going out with friends (numeric: from 1 - very low to 5 - very high)</ul>
<ul><b>27 Dalc</b> - workday alcohol consumption (numeric: from 1 - very low to 5 - very high)</ul>
<ul><b>28 Walc</b> - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)</ul>
<ul><b>29 health</b> - current health status (numeric: from 1 - very bad to 5 - very good)</ul>
<ul><b>30 absences</b> - number of school absences (numeric: from 0 to 93)</ul>

<ul>these grades are related with the course subject, Math or Portuguese:</ul>
<ul><b>31 G1</b> - first period grade (numeric: from 0 to 20)</ul>
<ul><b>31 G2</b> - second period grade (numeric: from 0 to 20)</ul>
<ul><b>32 G3</b> - final grade (numeric: from 0 to 20, output target)</ul>
</div>

Let's check if the dataframe has any nulls.

In [3]:
grades.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [4]:
grades.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [5]:
grades_df_obj = grades.select_dtypes(exclude=['int64'])
grades_df_obj.head()

,school,sex,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic
0,GP,F,U,GT3,A,at_home,teacher,course,mother,yes,no,no,no,yes,yes,no,no
1,GP,F,U,GT3,T,at_home,other,course,father,no,yes,no,no,no,yes,yes,no
2,GP,F,U,LE3,T,at_home,other,other,mother,yes,no,yes,no,yes,yes,yes,no
3,GP,F,U,GT3,T,health,services,home,mother,no,yes,yes,yes,yes,yes,yes,yes
4,GP,F,U,GT3,T,other,other,home,father,no,yes,yes,no,yes,yes,no,no

In [6]:
grades_df_int = grades.select_dtypes(include=['int64'])
grades_df_int.head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,18,4,4,2,2,0,4,3,4,1,1,3,6,5,6,6
1,17,1,1,1,2,0,5,3,3,1,1,3,4,5,5,6
2,15,1,1,1,2,3,4,3,2,2,3,3,10,7,8,10
3,15,4,2,1,3,0,3,2,2,1,1,5,2,15,14,15
4,16,3,3,1,2,0,4,3,2,1,2,5,4,6,10,10

In [7]:
X = grades_df_int[['studytime', 'failures', 'freetime', 'absences', 'health', 'G1', 'G2']]
y = grades_df_int['G3']

In [8]:
# Create the model using LinearRegression
from sklearn.linear_model import LinearRegression

In [9]:
# Use train_test_split to create training and testing data
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
model = LinearRegression()

In [11]:
# Fit the model to the training data and calculate the score for the training data

model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)

print(f"Training Score: {training_score}")

Training Score: 0.8327928933085645

In [12]:
# Calculate the score for the testing data

testing_score = model.score(X_test, y_test)
print(f"Testing Score: {testing_score}")

Testing Score: 0.8211221777599599

In [13]:
from sklearn import linear_model
regr = linear_model.LinearRegression()
regr.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [14]:
import joblib
filename = 'StudentGrade.sav'
joblib.dump(regr, filename)

['StudentGrade.sav']

In [15]:
joblib_LR_model = joblib.load(filename)
joblib_LR_model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [16]:
#### studytime: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours
#### failures: n if 1<=n<3, else 4
#### freetime: from 1 - very low to 5 - very high
#### absences: from 0 to 93
#### health: from 1 - very bad to 5 - very good
#### G1: from 0 to 20
#### G2: from 0 to 20

In [17]:
test_data = [[1, 1, 1, 1, 1, 10, 10]]
Ypredict = joblib_LR_model.predict(test_data)
Ypredict

array([8.89247103])

In [19]:
# Save the Modle to file in the current working directory
import pickle

Pkl_Filename = "StudentGrade.pkl"  

with open(Pkl_Filename, 'wb') as file:  
    pickle.dump(regr, file)

In [23]:
# Load the Model back from file
with open(Pkl_Filename, 'rb') as file:  
    Pickled_LR_Model = pickle.load(file)

Pickled_LR_Model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [21]:
Ypredict = Pickled_LR_Model.predict(test_data)  

Ypredict

array([8.89247103])

In [18]:
grades_df_int['studytime'].max()

4

In [19]:
studytime = input("Enter studytime (between 1 (low) and 4 (high)): ")

Enter studytime (between 1 (low) and 4 (high)): 3

In [20]:
failures = input("Enter failures (between 1 (low) and 4 (high)): ")

Enter failures (between 1 (low) and 4 (high)): 2

In [21]:
freetime = input("Enter freetime (between 1 (low) and 5 (high)): ")

Enter freetime (between 1 (low) and 5 (high)): 2

In [22]:
absences = input("Enter absences (between 0 (low) and 93 (high)): ")

Enter absences (between 0 (low) and 93 (high)): 20

In [23]:
health = input("Enter health (between 1 (very bad) and 5 (very good)): ")

Enter health (between 1 (very bad) and 5 (very good)): 5

In [24]:
g1 = input("Enter grades in first exam (between 0 (very bad) and 20 (very good)): ")

Enter grades in first exam (between 0 (very bad) and 20 (very good)): 16

In [25]:
g2 = input("Enter grades in second exam (between 0 (very bad) and 20 (very good)): ")

Enter grades in second exam (between 0 (very bad) and 20 (very good)): 17

In [26]:
test_data = [[int(studytime), int(failures), int(freetime), int(absences), int(health), int(g1), int(g2)]]
Ypredict = joblib_LR_model.predict(test_data)
Ypredict

array([17.21926695])